<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DYNAMIC_URL" value="http://localhost:3000" />
    <add key="OLEB_URL" value="https://download.microsoft.com/download/b/f/b/bfbfa4b8-7f91-4649-8dab-9a6476360365/VFPOLEDBSetup.msi" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>